.electricity-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.electricity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.electricity-table th,
.electricity-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #ecf0f1;
}

.pagination-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-buttons button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.percentage-container {
  margin-top: 20px;
  text-align: center;
}

.percentage {
  font-size: 18px;
  color: #3498db;
}
